.center {
	text-align:center;
}
.search_option {
	display: block;
	margin-bottom: 4%;
}
.radio_option {
	display: inline;
}
label.radio_label {
	display: inline;
}
input[type="radio"] {
	margin: 0;
}

li{
margin: 4% 0;
}


.block_for_item {
	margin: 5px;
	padding: 5px;
	background: #ddd;
}