{% extends "base.html" %}
{% block results %}
{{ query }}
<ul class="unstyled">
  <!--viewで分岐は気持ち悪いけど直すのめんどい-->
  {% for item in sorted_action_words %}
  <li>
    <p>{{ item.word }}: {{ item.count }} <a href="https://www.google.com/search?q={{ item.expanded_query }}&sourceid=chrome&ie=UTF-8">Google検索結果ページ</a> <a href="http://karen.dl.local:8983/solr/ClueWeb09ja/select?q={{ item.expanded_query }}&wt=xml">Google検索結果ページ</a></p>
  </li>
  {% endfor %}
</ul>
<ul class="unstyled">
  <!--viewで分岐は気持ち悪いけど直すのめんどい-->
  {% for item in items %}
  <li>
    <a href="{{ item.url }}">{{ item.title }}</a>
    <p>{{ item.action_word }}</p>
  </li>
  {% endfor %}
</ul>
<ul>
  {% for item in found_pages %}
  <li>
    <a href="{{ item.url }}">{{ item.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
