{% extends "base.html" %}
{% block results %}
        <ul class="unstyled">
          <!--viewで分岐は気持ち悪いけど直すのめんどい-->
        {% for item in items %}
        <li>
          <a href= {{item['link']}}>
            {{item['title']}}
          </a>
          <ul>
            {% for text in item['texts'] %}
            <li>
            {{text}}
            </li>
            {% endfor %}
          </ul>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
