{% extends "base.html" %}
{% block results %}
<ul class="unstyled">
  <!--viewで分岐は気持ち悪いけど直すのめんどい-->
  {% for result in results %}
  <h3>変換クエリ：{{ result.expanded_query }}</h3>
  <p>{{ len(result['pages']) }}ページ</p>
  <li>
    {% for result_page in result['pages'] %}
    <div class="panel">
      {% for line_cluster in result_page.line_clusters_around_action_word %}
      <div class="block_for_item">
        <p>
          {% for line in line_cluster %}
          {{ line }}。
          {% endfor %}
        </p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
